{% extends "layouts/base.html" %}

{% block title %} UI Avatars {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Opciones</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Tus opciones</h4>
							
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="avatar-xxl">
									<img src="/static/assets/img/casa10.jpg" alt="..." class="avatar-img rounded">
								</div>
							</p>
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="avatar-xxl">
									<img src="/static/assets/img/Apartamentozona14.jpg" alt="..." class="avatar-img rounded">
								</div>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card card-primary">
							<div class="card-header">
								<div class="card-title">Anuncios</div>
								<div class="card-category"></div>
							</div>
							<div class="card-body pb-0">
								<div class="mb-4 mt-2">
									<h1></h1>
								</div>
								<div class="pull-in">
									<canvas id="dailySalesChart"></canvas>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
